.custom-text {
    color: deepskyblue;
    font-weight: bold;
    font-size: 50px;
}

.my-file-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.my-input-text {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1E1E1E !important;
}

.my-modal-header-text {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5e72e4 !important;
}

.my-modal-info-text {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #3E4046 !important;
}